.Header-Sign{
    height: 84px;
    width: auto;
    justify-content: center;
    align-items: center;
    margin:0 80px
}

.item-container-header {
    width: 1200px;
    height: 34px;
    justify-content: space-between;
    align-items: center;
}
.logo-header {
    justify-content: space-between;
    align-items: center;
}
.logo-header img {
    width: 145px;
    height: 42px;
}

.logo-header p {
    margin:10px 0px 0px 20px;
    font-size: 1.5rem;
    font-weight: 480;
}
.help-link{
    color: #ee4d2d;
    text-decoration: none;
}